{% extends "base.html" %}
{% block content %}
    <body onload="getData()">
    <form method="POST" xmlns="http://www.w3.org/1999/html">
        <section class="py-5 my-5">
            <div class="container">
                <h1 class="mb-5">Account Settings</h1>
                <div class="bs-dark shadow rounded-lg d-block d-sm-flex">
                    <div class="profile-tab-nav border-right">
                        <div class="p-4">
                            <h4 class="text-center">Health Website</h4>
                        </div>
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab"
                               aria-controls="account" aria-selected="true">
                                <i class="fa fa-home text-center mr-1"></i>
                                Account
                            </a>
                            <a class="nav-link active" id="password-tab" data-toggle="pill" href="#password" role="tab"
                               aria-controls="password" aria-selected="true">
                                <i class="fa fa-key text-center mr-1"></i>
                                Password
                            </a>
                        </div>
                    </div>
                    <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="account" role="tabpanel"
                             aria-labelledby="account-tab">
                            <h3 class="mb-4">Account Settings</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName">First Name</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="firstName"
                                                name="firstName"
                                                value="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastName">Last Name</label>
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="lastName"
                                                name="lastName"
                                                value="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input
                                                type="email"
                                                class="form-control"
                                                id="email"
                                                name="email"
                                                value="">
                                    </div>
                                </div>
                                {#                                <div class="col-md-6">#}
                                {#                                    <div class="form-group">#}
                                {#                                        <label>Phone number</label>#}
                                {#                                        <input type="text" class="form-control" value="+46 123456789">#}
                                {#                                    </div>#}
                                {#                                </div>#}
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="bio">Bio</label>
                                        <textarea
                                                type="text"
                                                class="form-control"
                                                id="bio"
                                                name="bio"
                                                rows="4"
                                        >Bio</textarea>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                            <div>
                                <h3 class="mb-4">Password Settings</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="oldPassword1">Old Password</label>
                                            <input
                                                    type="password"
                                                    class="form-control"
                                                    id="oldPassword1"
                                                    oninput="verifyPassword()"
                                                    name="oldPassword1"
                                                    placeholder="Enter old password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="newPassword1">New Password</label>
                                            <input
                                                    type="password"
                                                    class="form-control"
                                                    id="newPassword1"
                                                    oninput="verifyPassword()"
                                                    name="newPassword1"
                                                    placeholder="Enter new password">
                                        </div>
                                    </div>

                                    <div class="info">
                                        <span id="pwd-message"></span><br/>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="newPassword2">Confirm New Password</label>
                                            <input
                                                    type="password"
                                                    class="form-control"
                                                    id="newPassword2"
                                                    oninput="checkPassword()"
                                                    name="newPassword2"
                                                    placeholder="Confirm new password"
                                                    disabled/> <br/>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    </body>
{% endblock %}
{% block scripts %}
    <!-- dropdown menu -->
    <script>
        document.getElementById("navbarDarkDropdownMenuLink").onclick = function () {
            myFunction()
        };

        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        <!-- dropdown menu -->

        function checkPassword() {
            let pwd1 = document.getElementById("newPassword1");
            let pwd2 = document.getElementById("newPassword2");
            document.getElementById("submit").disabled = pwd1.value !== pwd2.value;
        }

        function verifyPassword() {
            let pwdInput = document.getElementById("newPassword1");
            let pwdMessage = document.getElementById("pwd-message");
            let resultObj = CheckPassword(pwdInput.value);
            pwdMessage.innerHTML = resultObj.message;
            document.getElementById("newPassword2").disabled = !resultObj.result;
        }

        function CheckPassword(inputtxt) {
            let pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,1000}$/;
            let obj = {}
            if (inputtxt.match(pattern)) {
                obj.result = true;
                obj.message = "";
            } else {
                obj.result = false;
                obj.message = "Minimum 6 characters long ,1 lower case letter, 1 upp case letter, 1 digit, and 1 special character."
            }
            return obj;
        }

        function getData() {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                    let data = JSON.parse(xmlHttp.responseText);
                    data.forEach(
                        (obj) => {
                            document.getElementById("firstName").value += obj.first_name;
                            document.getElementById("lastName").value += obj.last_name;
                        }
                    );
                }

            }
            xmlHttp.open("GET", "http://127.0.0.1:5000/0186510e7b7767cc957fe1a77da0977fca7577e3b491681a587cbe348d390919", true); // true for asynchronous
            xmlHttp.send(null);
        }
    </script>
{% endblock %}