{% extends "base.html" %}

{% block content %}
<form method="POST">
    <h3>Add daily data</h3>
    <div class="form-group">
        <label for="date">Date for data</label>
        <input
                type="date"
                class="form-control"
                id="date"
                name="date"
                placeholder="Enter date for data (mm/dd/yyyy)">
    </div>

    <div class="form-group">
        <label for="steps">Steps</label>
        <input
                type="number"
                class="form-control"
                id="steps"
                name="steps"
                placeholder="Enter steps">
    </div>

    <div class="form-group">
    <label for="weight">Weight</label>
        <input
                type="number"
                class="form-control"
                id="weight"
                name="weight"
                placeholder="Enter weight">
    </div>

    <div class="form-group">
        <label for="caloriesEaten">Calories eaten</label>
        <input
                type="number"
                class="form-control"
                id="caloriesEaten"
                name="caloriesEaten"
                placeholder="Enter calories eaten">
    </div>

    <div class="form-group">
        <label for="caloriesBurned">Calories burned</label>
        <input
                type="number"
                class="form-control"
                id="caloriesBurned"
                name="caloriesBurned"
                placeholder="Enter calories burned">
    </div>

    <div class="form-group">
        <label for="averagePulse">Average pulse</label>
        <input
                type="number"
                class="form-control"
                id="averagePulse"
                name="averagePulse"
                placeholder="Enter average pulse">
    </div>

        <input type="submit" id="submit" value="Save" />
</form>
<form method="POST">
    <h3>Add training session</h3>
    <div class="form-group">
        <label for="date">Date for data</label>
        <input
                type="date"
                class="form-control"
                id="date"
                name="date"
                placeholder="Enter date for data (mm/dd/yyyy-hh:mm)">
    </div>
    <div class="form-group">
        <label for="training">training session</label>
        <input
                type="text"
                class="form-control"
                id="type of exercise"
                name="training-session"
                placeholder="Enter for of exercise">
    </div>
    <div class="form-group">
        <label for="averagePulse">Average pulse</label>
        <input
                type="number"
                class="form-control"
                id="averagePulse"
                name="averagePulse"
                placeholder="Enter average pulse">
    </div>
    <div class="form-group">
        <label for="duration">duration</label>
        <input
                type="text"
                class="form-control"
                id="duration"
                name="duration"
                placeholder="Enter duration of session">
    </div>
    <input type="submit" id="submit" value="Save" />
</form>
{% endblock %}