<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_bootswatch.scss') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}"/>
    <title>{% block title %} Happy health {% endblock %}</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" id="main" href="/main-page">Happy Health</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" id="home" href="/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="addData" href="/add-data">Add data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="synchronize" href="/synchronize-page">Synchronize</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="signUp" href="/sign-up">Sign up</a>
        </li>
        <li class="nav-item dropdown" id="menu">
          <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu" id="myDropdown">
            <a class="dropdown-item" id="login" href="/login">Log in</a>
            <a class="dropdown-item" id="accountSettings" href="/account-settings">Account settings</a>
            <a class="dropdown-item" id="profilePreference" href="/profile-preference">Profile preferences</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" id="logout" href="/logout">Sign Out</a>
          </div>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "error" %}
                <div class="alert alert-danger alter-dismissable fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    {% block content %}

    {% endblock %}
</div>

{% block scripts %}
    <script type=text/javascript>
document.getElementById("navbarDarkDropdownMenuLink").onclick = function() {myFunction()};

function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
    </script>
{% endblock %}

</body>
</html>