{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Help{% endblock %}</title>
    </head>
    <body>
        <div class="container">
         {% block content %}
<picture>
    <img src="bithappens.jpg">
</picture>
<p>Answers to FAQ and basic help.</p></>
<p>This is a paragraph.</p>
<p>This is a paragraph too.</p>
<p>This is a paragraph too.</p>
<p>Another is a paragraph too.</p>
         {% endblock %}
        </div>
    </body>
</html>