{% extends "base.html" %}
{% block title %}Help{% endblock %}

{% block content %}
<!--- will remove center later when we get css ---->
<center><picture>
    <img src="bithappens.jpg" alt="Flowers" style="width:auto;">
</picture></center>
<center><p>Answers to FAQ and basic help.</p></center>
<center><p>This is a paragraph.</p></center>
<center><p>This is a paragraph too.</p> </center>
<center><p>This is a paragraph too.</p> </center>
<center><p>Another is a paragraph too.</p> </center>
{% endblock %}