{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Help{% endblock %}</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
            {% for category, message in messages %}
            {% if category == "error" %}
            <div class="alert alert-danger alter-dismissable fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alter-dismissable fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="container">
         {% block content %}
<picture>
    <img src="bithappens.jpg">
</picture>
<p>Answers to FAQ and basic help.</p></>
<p>This is a paragraph.</p>
<p>This is a paragraph too.</p>
<p>This is a paragraph too.</p>
<p>Another is a paragraph too.</p>
         {% endblock %}
        </div>
    </body>
</html>