{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main-style.css') }}"/>
        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
        <div class="container">
         {% block content %}
             <h3>This is the Home page</h3>
         {% endblock %}
        </div>
    </body>
</html>