{% extends "base.html" %}
         {% block content %}
             <h3>This is the Home page</h3>
             <p>We care about health which is why we want you to feel bad if you aren't taking good care about your health</p>
         {% endblock %}
{% block scripts %}
    <script type=text/javascript>
    <!-- dropdown menu -->
    document.getElementById("navbarDarkDropdownMenuLink").onclick = function() {myFunction()};

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
}
    <!-- dropdown menu -->
    </script>
{% endblock %}