{% extends "base.html" %}
         {% block content %}
        <div class="container">
             <fieldset>
      <legend class="mt-4">Profile preferences</legend>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="sleep" onclick="validate(this)">
        <label class="form-check-label" for="flexSwitchCheckDefault">Sleep tracking</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="calorie" onclick="validate(this)">
        <label class="form-check-label" for="flexSwitchCheckDefault">Calorie tracking</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="step" onclick="validate(this)">
        <label class="form-check-label" for="flexSwitchCheckDefault">Step tracking</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="training" onclick="validate(this)">
        <label class="form-check-label" for="flexSwitchCheckDefault">Training tracking</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="pulse" onclick="validate(this)">
        <label class="form-check-label" for="flexSwitchCheckDefault">Pulse tracking</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="sp02" onclick="validate(this)">
        <label class="form-check-label" for="flexSwitchCheckDefault">Sp02 tracking</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="stress" onclick="validate(this)">
        <label class="form-check-label" for="flexSwitchCheckDefault">Stress tracking</label>
      </div>

        <input type="submit" id="submit" value="Submit options"/>
</fieldset>
        </div>
{% endblock %}

{% block scripts %}
    <script type=text/javascript>
    function validate(e) {
      if (e.checked) {
        alert(`Checked ${e.name} tracking`)
      }
    }
    </script>
{% endblock %}
