{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Sign out{% endblock %}</title>
    </head>
    <body>
        <div class="container">
{% block content %}
<form method="post">
<h3>Sign out page</h3>
<p>Are you sure you want to sign out?</p>
  <label class="btn btn-primary">
  <input id="submit2" name="submit2" type="submit" value="Sign Out" onclick="validate()">
  </label>
</form>


{% endblock %}

{% block scripts %}
    <script type=text/javascript>
        function validate() {
            var submitbutton = document.getElementById('submit2');
            if (submitbutton.click) {
                alert("Are you sure you want to sign out?");
            }
        }
    </script>

{% endblock %}
        </div>
    </body>
</html>