{% extends "base.html" %}

{% block content %}
<form method="POST">
    <h3>Synchronize your data</h3>
    <div class="form-group">
        <label for="calorie">Calorie data</label>
        <button type="submit" class="btn btn-primary btn-sm">Synchronize </button>
    </div>

    <div class="form-group">
        <label for="sleep">Sleep data</label>
        <button type="submit" class="btn btn-primary btn-sm">Synchronize </button>
    </div>

    <div class="form-group">
        <label for="step">Step data</label>
        <button type="submit" class="btn btn-primary btn-sm">Synchronize </button>
    </div>

    <div class="form-group">
        <label for="stress">Stress data</label>
        <button type="submit" class="btn btn-primary btn-sm">Synchronize </button>
    </div>

    <div class="form-group">
        <label for="pulse">Pulse data</label>
        <button type="submit" class="btn btn-primary btn-sm">Synchronize </button>
    </div>

    <div class="form-group">
        <label for="blood_oxygen">Blood oxygen data</label>
        <button type="submit" class="btn btn-primary btn-sm">Synchronize </button>
    </div>
    <div class="form-group">
        <label for="training">Training data</label>
        <button type="submit" class="btn btn-primary btn-sm">Synchronize </button>
    </div>
</form>
{% endblock %}
{% block scripts %}
    <script type=text/javascript>
    <!-- dropdown menu -->
    document.getElementById("navbarDarkDropdownMenuLink").onclick = function() {myFunction()};

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
}
    <!-- dropdown menu -->
    </script>
{% endblock %}